<!-- <div *ngFor="let products of productsList"> -->
    <div *ngFor="let category of productsList | sortBy: 'name'">
        <label>
            <input [disabled]="category.product.length==0" type="checkbox" (change)="onCheckChange($event, category)">
                &nbsp;<b>{{category.name}}</b>
        </label>
        <br>
        <div *ngFor="let product of category.product | sortBy: 'name'">
            <label style="margin-left: 20px;">
                <input disabled="true" [checked]="product.isChecked" type="checkbox">
                        &nbsp;{{product.name}}
            </label>
        </div>
    </div>
<!-- </div> -->