<div class="body"></div>
<div class="grad"></div>
<div class="header">
	<div><img src="https://technodom.in/assets/img/Technodom_logo.png" alt="technodom" height="50px;"><span>echnodom</span></div>
</div>
<br>
<div class="login">
	<form [formGroup]="loginForm" (ngSubmit)="login()">
		<input type="text" placeholder="employee id" formControlName="employee_id" name="empId">
		<input type="password" placeholder="password" formControlName="password" name="password">
		<p style="color: red;">{{errMsg}}</p>
		<input type="submit" [disabled]="loginForm.invalid" value="Login">
	</form>
</div>
<ngx-spinner></ngx-spinner>