<div class="header">
    <a href="javascript:void(0);" class="logo">Technodom</a>
    <div class="header-right">
        <a href="javascript:void(0);"
        [routerLink]="['/dashboard/users']" routerLinkActive="active" >Users</a>
        <a href="javascript:void(0);"
        [routerLink]="['/dashboard/products']" routerLinkActive="active">Products</a>
    </div>
</div>
<br>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<ngx-spinner></ngx-spinner>
