<table class="table table-bordered table-responsive" >
    <thead>
        <tr>
            <th>S.No</th>
            <th>First Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let users of usersList; let i = index">
            <td>{{i+1}}</td>
            <td>{{users.first_name}}</td>
            <td>{{users.user_name}}</td>
            <td>{{users.email}}</td>
            <td>{{users.address}}</td>
            <td>{{users.phone}}</td>
            <td><a href="javascript:void(0);" [routerLink]="['/dashboard/users', users.id]">View</a></td>
        </tr>
    </tbody>
</table>